@import "tailwindcss";

@layer base {
  body {
    @apply bg-slate-900 text-gray-100 min-h-screen;
    font-family: Calibri, Candara, 'Segoe UI', Arial, sans-serif;
  }
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
}
